<section class="gallery-3-col section">

    <div class="container ">
        <div class="row">
            <div class="col-10 offset-1 offset-lg-0 col-lg-12">
                <div class="row justify-content-between-custom">

                        {% for image in gallery %}
                             {% set img = TimberImage(image) %}
                             <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                                    <div class="relative hover-video img hover-zoom">
                                        <img src="{{img|resize(375,375)}}" class="img-responsive">
                                        {#<div class="fill-absolute img-background hover-zoom-img" style="background-image:url({{img|resize(375,375)}})"></div>#}
                                        {% include 'video_vimeo.twig' with {video:image.video} %}
                                        {% if image.description %}
                                        <div class="fill-absolute font-small img-description">{{image.description|wpautop}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="caption">
                                        <h5 class="title">{{img.title}}</h5>
                                        <div class="caption font-small">{{img.caption}}</div>
                                        
                                    </div>
                            </div>
                        {% endfor %}
                       

                </div>
            </div>

        </div>
        
        </div>
    </div>
    
    
</section>