{% if footerFormat == 'diagonal' or footerFormat == 'diagonal-only-mobile' %}
    <div class="footer-svg-wrapper {{ footerFormat == 'diagonal-only-mobile' ? 'd-md-none'}}">
            {% include 'svg_diagonal.twig' %}
    </div>
{% endif %}


<section id="newsletter" class="layout-{{footerFormat}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-9 col-xl-8 text-left form-group-wrapper">
                <div class="newsletter-text text-center">
                        <div class="">{{__("Our Mission")}}</div>
                        <div class="big">{{__("We’re here to help tell your story.")}}</div>
                </div>
                <form id="mailchimp-form" action="{{options.newsletter_url}}&amp;c=?" >
                    <div class="row">
                        <div class="col form-group">
                            <input id="mc-email" type="email" name="EMAIL" type="email" placeholder="{{__('Your Email Address')}}"></input>
                        </div>
                        <div class="col form-group form-group-submit">
                            <button type="submit">{{__('Stay in Touch')}}</button>
                        </div>
                        <div class="col-12">
                            <div class="notifications-group row">
								<div class="notification sending ">{{__('Sending...')}}</div>
                                <div class="notification error error-general text-red">{{__('Error!')}}</div>
								{#<div class="notification error error-mail text-red">{{__('Invalid mail')}}</div>
								<div class="notification error error-already-suscribed input text-red">{{__('Already subscribed')}}</div>#}
								<div class="notification success text-green">{{__('Thanks!')}}</div>
							</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>