{% extends "layout.twig"%}

{% block content %}

	{% for capability in page.get_field('capabilities') %}

		<div class="capability {{loop.last ? '-last'}}">
			 <div class="container">
				<div class="row">
					<div class="col-10 offset-1 offset-lg-0 col-lg-12">
						<div class="row {{loop.index is divisible by(2) ? 'justify-content-end'}}">
							<div class="col-12 col-md-5 capability-text ">
								{{capability.text}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="capability-gallery {{loop.last ? '-last'}} slide-content-absolute-wrapper {{loop.index is divisible by(2) ? '':'right'}}">
				<div class="slider fill-absolute">
				{% for image in capability.gallery %}
					<div class="slide">
						<div class="slide-content-absolute img-background" style="background-image:url({{ TimberImage(image)|resize(720,1065) }})">

						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>

	{% endfor %}

	<div class="contact-separator d-none d-md-block" style="position:relative; z-index:9999; border-color: rgba(150,150,150,0.5); border-width:2px; height:0; margin-top:0"></div>

{% endblock %}


