{% extends "layout.twig"%}

{% block content %}

    <div class="before-featured-diagonal">

        {% set img = page.get_field('image_with_text') %}
        {% if not (img ends with '.gif') %}
                {% set img = img|resize(657,930) %}
        {% endif %}
        <div class="fill-absolute left-absolute img-background" style="background-image:url({{img}})"></div>

        

        <section class="section section-first">
            <div class="container">
                <div class="row">
                    <div class="offset-1 offset-md-6 col-10  col-md-5 col-lg-6 headline-text-text">
                        {{page.content}}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {# include 'featured_posts.twig' #}

    <section class="section section-featured-work  layout-middle">
        {% include 'headline_text.twig' with {title: page.last_text_title, text: page.get_field('last_text_text') }%}


            <div class="featured-posts-background layout-middle">
                <div class="footer-svg-wrapper layout-middle" style="margin-top:0 !important;">
                    {% include 'svg_diagonal.twig' %}
                </div>
                <div class="background-dark-blue layout-middle fill-absolute">
                    
                </div>
            </div>

  
  </section>



    <section id="home-gallery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-12">
                    {% for image in gallery %}
                        
                        <div class="home-gallery-picture hover-video">
                            <picture>
                                <source srcset="{{ image.img|resize('524', '360') }}" media="(max-width: 414px)"/>
                                <source srcset="{{ image.img|resize('600', '412') }}" media="(max-width: 768px)"/>
                                <img class="img-responsive home-gallery-picture-img" src="{{ image.img|resize('600', '412') }}"/>
                            </picture>

                            {% include 'video_background.twig' with {video:image.video_loop} %}

                            {% include 'video_vimeo.twig' with {video:image.vimeo} %}
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="fill-absolute home-gallery-background --d-none d-md-block">

        </div>
    </section>

    {% include 'modules.twig' %}

{% endblock %}