
<nav id="nav">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-12">
                <div class="row">
                    <div class="col-2">
                        <a href="{{site.url}}" class="img-background" id="logo">DWS</a>
                    </div>
                    <div class="col text-right">
                        
                        
                        <ul class="list-unstyled list-inline main-menu d-none d-lg-block">
                            {% for item in nav.main %}
                                <li><a class="non-style" href="{{item.url}}">{{item.title}}</a></li>
                            {% endfor %}
                        </ul>

                        <div id="menuTrigger" class="switchMenu">
                            <span class="line line-1"></span>
                            <span class="line line-2"></span>
                            <span class="line line-3"></span>
                            <span class="mask"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


<nav id="menuMobile">
	<div class="background">
	</div>
	<div class="menuMobile-content">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-12">
                    <div class="mainMenu">
                        {% for item in nav.main %}
                            <a href="{{item.url}}" class="no-style">{{item.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
		</div>
	</div>
</nav>