<form id="contact-form" class="contact-form" action="{{form.action}}" method="{{form.method}}">

		<input hidden="" name="id" value="{{page.id}}">
	{% for input in form.inputs %}
		{% if input.acf_fc_layout == 'text' %}

			<div class="form-group">
				<label for="text-{{loop.index}}">{{input.placeholder}}</label>
				<input class="{{input.required ? 'validate[required]':''}}" type="text" id="text-{{loop.index}}" 
				name="{{input.is_name_sender ? 'name':'text'~-loop.index}}" ></input>
			</div>
				    		
				    	
		{% elseif input.acf_fc_layout == 'email' %}

			<div class="form-group">
				<label for="email">{{input.placeholder}}</label>
				<input class="validate[required,custom[email]]" type="email" id="email" name="email"></input>
			</div>
		
		{% elseif input.acf_fc_layout == 'number' %}

			<div class="form-group">
				<label for="tel-{{loop.index}}">{{input.placeholder}}</label>
				<input class="{{input.required ? 'validate[required,custom[phone]]':'validate[custom[phone]]'}}" type="tel" id="tel-{{loop.index}}" name="tel-{{loop.index}}" ></input>
			</div>
			
		{% elseif input.acf_fc_layout == 'message' %}

			<div class="form-group form-group-textarea">
				<label for="message-{{loop.index}}">{{input.placeholder}}</label>
				<textarea class="{{input.required ? 'validate[required]':''}}"  id="message-{{loop.index}}" name="message-{{loop.index}}"></textarea>
			</div>	
					
		{% elseif input.acf_fc_layout == 'checkbox' %}

			<div class="form-group checkbox-group">
				<input class="{{input.required ? 'validate[required]':''}}" type="checkbox" id="checkbox-{{loop.index}}" name="checkbox-{{loop.index}}" value="yes"></input>
				<label for="checkbox-{{loop.index}}">{{input.label_checkbox|striptags('<a>')}}</label>
			</div>

		{% elseif input.acf_fc_layout == 'checkbox_newsletter' %}

			<div class="form-group checkbox-group">
				<input  type="checkbox" name="newsletter" id="newsletterCheckbox" value="yes">
				<label for="newsletterCheckbox">{{input.label_checkbox|striptags('<a>')}}</label>
			</div>
			
		{% endif %}
	{% endfor %}
	<input type="submit" value="{{__('Enviar','mimcord')}}" data-sending="{{__('Enviant...','mimcord')}}">

	<div class="form-success">
		{{__("Rebut! Gràcies per posar-te en contancte amb Mimcord, aviat rebràs notícies nostres.",'mimcord')}}
	</div>
</form>	
