{% extends "layout.twig" %}



{% block main %}

<header id="slider-home" class="full-page" style="position:relative;">
    <div class="parallax">
        <div id="slick-home">
    {% for image in page.get_field('slider') %}
        {% set image =  TimberImage(image) %}
        <div class="slide full-page">
                <div class="image-background {{loop.first ? 'first-slider'}}" style="background-image:url({{ image|resize(2160, 1295) }})">
                    <div class="mask"></div>
                    <div class="slider-h1">{{ image.title }}</div>
                </div>
        </div>
    {% endfor %}
        </div>
     <div class="lang-home font-home">
            <div class="container-fluid">
               
            {% for lang in menus.langs %}
                            <a href="{{lang.url}}" class="{{lang.active ? 'active':''}}">{{lang.name}}</a> 
            {% endfor %}
                
            </div>
        </div>
    <span class="scroll-to hover-opacity" data-scroll-to="#archive-news"></span>
    </div>
    
</header>

<main class="regular-content" id="archive-news">

    <h2 class="h2-serif h2-serif-main text-center"><i>{{texts.news}}</i></h2>
  
    {% include 'llista_noticia.twig' with {posts:news, isHome: true}  %}
</main>

{% endblock %}
