<div class="milestone {{loop.last ? 'milestone-last'}} show-on-scroll">


                            <div class="col-xxs-6 col-xxs-offset-0 col-xs-5 col-xs-offset-1 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 milestone-content milestone-content-left text-right">
                                <div class="row" style="margin-left:0;">
                                    {% if loop.index is divisibleby(2) %}
                                    <div class="milestone-text" style="max-width: {{ event.textLength * 3 }}px ">
                                        <span class="before"></span>
                                        <h3 class="milestone-year milestone-animate-text">{{event.year}}</h3>
                                        <i class="milestone-description milestone-animate-text">{{event.text}}</i>
                                    </div>
                                        {% for extraEvent in event.extra %}
                                                 <div class="milestone-text milestone-text-extra" style="max-width: {{ extraEvent.textLength * 3 }}px ">
                                                    <span class="before"></span>
                                                    <h3 class="milestone-year milestone-animate-text">{{extraEvent.year}}</h3>
                                                    <i class="milestone-description milestone-animate-text">{{extraEvent.text}}</i>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        {% if event.img %}
                                            <img class="milestone-thumnail" src="{{TimberImage(event.img).src('timeline')}}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>


                            <div class="separator{{ loop.last ? '-last'}}"></div>
                            <div class="col-xxs-6 col-xs-5 col-sm-4 milestone-content milestone-content-right">
                                {% if loop.index is divisibleby(2) %}
                                    {% if event.img %}
                                        <img class="milestone-thumnail milestone-thumnail-right" src="{{TimberImage(event.img).src('timeline')}}">
                                    {% endif %}
                                {% else %}
                                    <div class="milestone-text" style="max-width: {{ event.textLength * 3 }}px ">
                                        <span class="before"></span>
                                        <h3 class="milestone-year milestone-animate-text">{{event.year}}</h3>
                                        <i class="milestone-description milestone-animate-text">{{event.text}}</i>
                                       
                                        {% for extraEvent in event.extra %}
                                                 <div class="milestone-text milestone-text-extra" style="max-width: {{ extraEvent.textLength * 3 }}px ">
                                                    <span class="before"></span>
                                                    <h3 class="milestone-year milestone-animate-text">{{extraEvent.year}}</h3>
                                                    <i class="milestone-description milestone-animate-text">{{extraEvent.text}}</i>
                                                </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="clear"></div>
                        </div>
                    