		{% if GET.lostpassword %}

		<div class="form-group form-group-a"><a href="{{redirect}}">{{texts.back}}</a></div>

            {% if GET.lostempty %}

                <p class="message error">{{texts.lostempty}}</p>

            {% elseif GET.userexist is defined and GET.userexist == 'false' %}

                <p class="error message">{{texts.userdontexist}}</p>

            {% else %}

			    <p class="message">{{texts.introlost}}</p>

            {% endif %}
			<form method="post" action="{{action}}" class="wp-user-form">
				<div class="username form-group form-group-extra-margin">
					<label for="user_login" class="hide"> </label>
					<input type="text" name="user_login" value="" size="20" id="user_login" tabindex="1001" />
				</div>
				<div class="login_fields">
                    {% do action('login_form', 'resetpass') %}
					<input type="submit" name="user-submit" value="{{texts.resetpassword}}" class="user-submit" tabindex="1002" />
					<input type="hidden" name="redirect_to" value="{{redirect}}?reset=true" />
					<input type="hidden" name="user-cookie" value="1" />
				</div>
			</form>



{% else %}

            {% if GET.reset %}

                <p class="message">{{texts.enviatmail}}</p>

            {% elseif GET.login == 'failed' %}

                <p class="error message">{{texts.loginfailed}}</p>

            {% endif %}

            <form method="post" action="{{action}}" class="wp-user-form">
				<div class="username form-group">
					<label for="user_login">{{texts.username}}: </label>
					<input type="text" name="log" value="{{texts.userlogin}}" size="20" id="user_login" tabindex="11" />
				</div>
				
				<div class="password form-group">
					<label for="user_pass">{{texts.password}}: </label>
					<input type="password" name="pwd" value="" size="20" id="user_pass" tabindex="12" />
				</div>
				
				<div class="login_fields form-group">
					<div class="rememberme">
						<label for="rememberme" class="label-checkbox">
							<input type="checkbox" name="rememberme" value="forever" checked="checked" id="rememberme" tabindex="13" /> 
							<span>{{texts.rememberme}}</span>
						</label>
					</div>
				</div>
				{% if not GET.reset %}
                        <div class="form-group form-group-a"><a href="{{redirect}}?lostpassword=true">{{texts.forgotpassword}}</a></div>
                    {% endif %}
                    {% do action('login_form') %}
					<input type="submit" name="user-submit" value="{{texts.login}}" tabindex="14" class="user-submit" />
					
                    
                    
                    <input type="hidden" name="redirect_to" value="{{redirect}}" />
					<input type="hidden" name="user-cookie" value="1" />
				
			</form>


{% endif %}           