{% extends "layout.twig" %}



{% block main %}

    <main class="regular-content" id="single-news">

         {% if post.thumbnail %}
            {% set src = post.thumbnail.src('news') %}
            
            <img class="news-thumbnail hidden-xs"  src="{{src}}">
            <div class="news-thumbnail-xs visible-xs {{ (post.thumbnail.width / post.thumbnail.height) < 1 ? 'background-vertical' : 'background-horizontal' }}" style="background-image:url({{src}})">
                <div class="padding-push"></div>
            </div>
        {% endif %}


        <div class="container news-content">
            <div class="col-md-2 col-sm-6 col-xs-12 news-date">
                <div class="row">
                    <div class="news-content-center">{{post.date}}</div>
                </div>
            </div>
            <div class="visible-xs clear"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 news-content-content">
                <div class="row">
                    <div class="news-content-center">{{post.content}}
                    {% if post.download %}
                        <br>
                        <br>
                        <br>
                        <a href="{{post.download.url}}" class="download-link" download>{{texts.download}} {{post.download.title}}</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="clear">
        </div>

       
    </main>

    <nav id="paginator">
        <div class="container">
            <div class="row">
              
                <div class="col-xs-4">
                   {% if post.prev %}
                    <a class="prev-link" href="{{post.prev.link}}">{{texts.prev}}</a>
                    {% endif %}
                </div>
                
                <div class="col-xs-4 text-center">
                    <a href="{{archiveLink}}">{{texts.back}}</a>
                </div>
               
                <div class="col-xs-4 text-right">
                     {% if post.next %}
                    <a class="next-link" href="{{post.next.link}}">{{texts.next}}</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </nav>

{% endblock %}